.card_title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.card_body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
