@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

p {
  font-size: 18px;
}

:root {
  --bg-grey: #f3f4ef;
  --bg-grey-200: #edeeea;
  --bg-grey-300: #dbdbdb;
  --bg-grey-400: #c0c9c0;
  --bg-green-100: #c5fcd6;
  --bg-green-400: #00361d;
  --bg-red-100: #ffdad6;
  --bg-red-400: #ba1a1a;
}
